<template name="Header">
  <div class="ui top fixed borderless inverted menu">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Home_Page'}}"><h1>uVenture</h1></a>
      <a class="{{ isActiveRoute 'List_Stuff_Page'}} item" href="{{ pathFor 'Suggestion_Page' }}">Suggested
        Adventures! </a>
      <a class="{{ isActiveRoute 'List_Stuff_Page'}} item" href="{{ pathFor 'faq_page' }}">
        F.A.Q </a>
      {{#if currentUser}}
        <a class="{{ isActiveRoute 'Add_Stuff_Page'}} item" href="{{ pathFor 'Add_Adventure_Page' }}">Add
          Adventure! </a>
      {{/if}}
      <a href="{{pathFor 'Home_Page'}}" class="right aligned item">{{> Cas_Login align="right"}} </a>
    </div>
  </div>
</template>
