body {
  padding-top: 61px; /* Move body of page below navbar. */
}

.grad-background {
  background: url('/images/landing2.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 750px;
}

.grad-background .ui.main.header {
  background: url(http://hqworld.net/gallery/data/media/53/turquoise_waters__hawaii.jpg);
  font-size: 140px;
  width: 600px;
  margin-top: 200px;
  text-align: center;
  -webkit-text-fill-color: white;
  -webkit-background-clip: text;
  text-shadow: 0px 3px 0px darkgreen,
  0px 14px 10px rgba(0,0,0,0.15),
  0px 24px 2px rgba(0,0,0,0.1),
  0px 34px 30px rgba(0,0,0,0.1);
}

.grad-background .ui.second.header {
  font-size: 45px;
  -webkit-text-fill-color: white;
  -webkit-background-clip: text;
  width: 600px;
  text-shadow: 0px 3px 0px black,
  0px 14px 10px rgba(0,0,0,0.15),
  0px 24px 2px rgba(0,0,0,0.1),
  0px 34px 30px rgba(0,0,0,0.1);
}

.grad-background .ui.tagline.header {
  font-size: 30px;
  -webkit-text-fill-color: white;
  -webkit-background-clip: text;
  width: 700px;
  text-shadow: 0px 3px 0px black,
  0px 14px 10px rgba(0,0,0,0.15),
  0px 24px 2px rgba(0,0,0,0.1),
  0px 34px 30px rgba(0,0,0,0.1);
}

.categories {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

.grid {
  display: inline-block;
  position: relative;
  margin-top: -5px;
}

.ui.black.button.button1 {
  position:absolute;
  width:100px;
  height:30px;
  top:500px;
  left:50%;
  margin: -20px 0px 0px -75px;
}

.ui.black.button.button2 {
  position:absolute;
  width:100px;
  height:30px;
  top:1000px;
  left:50%;
  margin: -20px 0px 0px -75px;
}

.ui.black.button.button3 {
  position:absolute;
  width:100px;
  height:30px;
  top:1500px;
  left:50%;
  margin: -20px 0px 0px -75px;
}

#container {
  background-size: cover;
  height: 1000px;
  padding-top: 50px;
}

#calendar-modal {
  padding: 10px 10px 10px 10px; /* Add padding to the edges of the modal. */
}

.fc-event-container {
  padding: 5px !important; /* Add padding between events. */
}

.fc-event {
  padding: 5px 10px; /* Add padding between event text and the edge. */
  border-color: #ddd; /* Set border color. */
  background: black; /* Set the event background to black. */
}

.fc-content {
  color: white; /* Set the event text to white */
}

/* Configure the event time text. */
.time {
  margin: 0;
}


